body{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.main{
    display: flex;
    flex:auto;
    height: 300px;
}
.aside{
    flex: 1;
    background-color: aqua;
}
.article{
    flex:3;
    background-color: aquamarine;
}
header,footer{
    height: 50px;
    background-color: burlywood;
    width: 50%;

}
.aaa{
    flex: 40%;
}
.bbb{
    display: flex;
    flex:auto;
    width: 100%;
    background-color: cyan;
}
