body{
    display:flex;
    flex-direction: column;
    text-align: center;
}
main{
    display: flex;
    flex:auto;
}
aside{
    flex: 1;
    background-color: aqua;
}
article{
    flex:3;
    background-color: aquamarine;
}
header,footer{

    background-color: burlywood;


}
